<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body a="{{ site.theme_config.appearance | default: "auto" }}">
    {% include navigation.html %}
    <main class="page-content" aria-label="Content">
        <div class="w">
            {{ content }}
        </div>
        <div>
          <p>
            <img alt="shielded" id="shielded-logo" src="https://shielded.co.nz/img/custom-logo.png" height="60" width="60" style="cursor: pointer; margin: 0px auto; display: inherit;">
            <script src="https://staticcdn.co.nz/embed/embed.js"></script>
            <script>
                (function () {
                    window.onload = function(){
                        var frameName = new ds07o6pcmkorn({
                            openElementId: "#shielded-logo",
                            modalID: "modal",
                        });
                        frameName.init();
                    }
                })();
            </script>
          </p>
        </div>
    </main>
    </body>
</html>